@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: $font-stack--content;
  color: $color--main;
  width: $width--desktop;
  font-weight: $normal;

   @media (max-width: $breakpoint--desktop) {
      width: $width--tablet;
   }

   @media (max-width: $breakpoint--tablet) {
      width: $width--mobile;
   }
}

h1, h2, h3, h4, h5, h6 {
   font-family: $font-stack--headings;
}

p {
   font-size: 2rem;
}

main {
   > p {
      color: red;
   }
}

header {
   ed: {
      bob: "name";
   }
}

footer {
   p {
      margin: {
         top: 24px;
         bottom: 36px;
      }

      font: {
         style: italic;
         weight: bold;
         variant: small-caps;
      }
   }
}

nav {
   a {
      &:link {
          font-size: 4rem;
          text-decoration: none;
          transition: 350ms;
       }

       &:visited {
          color: grey;
       }

       &:hover {
          background-color: red;
       }

       &:active {
          text-decoration: overline;
          background-color: pink;
          color: green;
       }
    }
}
